AgriCult/Service References/AgriService/AgriCult.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AgriCult.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AgriCult.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AgriCultSvcData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgriCultSvcData" nillable="true" type="tns:AgriCultSvcData" />
</xs:schema>