AgriCult/Service References/AgriService/AgriRepository.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AgriRepository.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AgriRepository.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Farm" nillable="true" type="tns:Farm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFarm" nillable="true" type="tns:ArrayOfFarm" />
  <xs:complexType name="Farm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FarmName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FarmSize" type="xs:float" />
      <xs:element minOccurs="0" name="FarmType" type="tns:FarmType" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:AgriAddress" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="Specialization" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Farm" nillable="true" type="tns:Farm" />
  <xs:simpleType name="FarmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Agriculture" />
      <xs:enumeration value="Dairy" />
      <xs:enumeration value="Poultry" />
      <xs:enumeration value="Fishing" />
      <xs:enumeration value="Hatchery" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FarmType" nillable="true" type="tns:FarmType" />
  <xs:complexType name="AgriAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgriAddressID" type="xs:int" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgriAddress" nillable="true" type="tns:AgriAddress" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Background" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
</xs:schema>